<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="video.videoassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoAssistant">
        <activity android:name=".mainPage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".me.urlManage.UrlManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.jointManage.JointManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.jsonManage.JsonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.handleManage.HandleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".playPage.PlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".browserPage.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".playPage.PlayerActivity"

            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <service
            android:name=".base.X5ProcessInitService"
            android:exported="false"
            android:process=":web" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt"/>

        <service android:name="com.android.cast.dlna.dmc.DLNACastService"
            tools:ignore="Instantiatable" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>